/* Survey.css */

body {
  font-family: "Roboto-Regular", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto 260px;
  max-width: 600px;
  justify-content: start;
  align-items: start;
  margin-bottom: 10px;
}

.title {
  font-size: 100px;
  margin-bottom: 10px;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 600px;

  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 40px 50px;
}

.container h1 {
  margin-bottom: 40px;
}

.container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container ul li {
  color: black;
  background: white;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.container .next-button {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: auto;
  padding: 10px 50px;
  color: black;
  border: 2px solid #b9ff60;
  border-radius: 10px;
  cursor: not-allowed;
}

.container .next-button.active {
  background: #b9ff60;
  color: black;
  cursor: pointer;
}

.container .next-button.disabled {
  background: #ffffff;
  border-color: #ffffff;
}

.container .index {
  margin: auto;
  font-size: 12px;
}

.selected {
  color: white !important;
  background-color: black !important;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button svg {
  width: 24px;
  height: 24px;
}

.back-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.back-button:disabled svg {
  stroke: #ccc;
}
